.footer {
    width: 100%;
    background-color: black;
    margin: 0;
    color: rgb(121, 121, 121);
    text-align: left;

    /* Position child elements in a grid. */
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
    grid-row-gap: 1rem;
}

.linksContainer {
  /* Align to the horizontal center of our parent grid container. */
  justify-self: center;

  /* The links container centers its children. */
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: cornflowerblue;
}
