.main.landing{
  height: 94vh;

  background-image: url("/images/bg-main.jpg");
  background-size: cover;
  background-position: bottom;

  color: white;
  font-family: hwt-artz, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align:center;

}

  .landing .welcome h2{
    margin-bottom: 0em;
    padding-bottom:0em;
    line-height: 1em;
    display: inline-block;

    font-size: 8em;
    text-shadow: 0px 4px 4px rgba(0,0,0, 0.4);
  }
    .landing .welcome h2::after{
      display: block;
      content: "";
      height: 5px;
      width: 100%;
      padding-top: 0em;
      margin-top: 0;
      background-color: #45D176;
      border-radius: 2.5px;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 4px 4px 1px rgba(0,0,0,0.2);
    }

  .landing .welcome span{
    width: 100%;
    display:block;
    font-size: 1.95em;
    margin-top: 0.5em;
    text-shadow: 0px 3px 3px rgba(0,0,0, 0.4);
  }

.landing .icons{
  width: 100%;
  margin-top: 9em;
}

  .landing .icons ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
    padding-left: 0;
  }

  .landing .icons li{
    text-align:center;
    color: white;
  }

    .landing .icons li img{
      height: 6em;
      display:inline-block;
      margin-bottom: 0.5em;
    }

    .landing .icons li span{
      font-size: 1.2em;
    }

.landing #message{
  color: #45D176;
  font-size: 1.2em;
  width: 100%;
  text-align:center;
  position: absolute;
  bottom: 1em;
  left: 0;
}

/*
  Media Size Adjustments
  480px.600px.768px.900px.1024px.1200px.
*/
@media screen and (max-width: 768px) {
  .landing .icons{
    margin-top:13em;
  }
}

@media screen and (max-width: 480px) {
  .landing .welcome h2{
    font-size: 6em;
  }
  .landing .welcome span{
    font-size: 1.5em;
  }
  .landing .icons{
    margin-top: 4em;
  }
    .landing .icons ul{
      flex-direction: column;
    }
    .landing .icons li{
      padding-bottom: 1em;

    }
}
