body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav{
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  height: 6vh;
}
.main{
  padding: 0 10%;
  box-sizing: border-box;
  width: 100%;
  height: 94vh;
}
.footer{
  padding: 1em 10%;
  box-sizing: border-box;
  width: 100%;
  height: auto;

}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}


